@page
@model MyApartment.WebClient.Pages.SVLakeview.DeleteExpenseModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteExpense</title>
</head>
<body>
</body>
</html>
