<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Subhasish.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Created by:</div>
      <div class="text-center">
        <h3>Subhasish Biswas</h3>
      </div>

      <div class="text-center">@subhasishbiswas</div>
      <div class="text-center">
        <a href="https://subhasishbiswas.blog">https://subhasishbiswas.blog</a>
      </div>
    </div>
  </div>
</div>